.interest-btn{
	background-color: var(--primary);
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	margin: 5px;
}

.solid-btn{
	background-color: var(--primary);
	color: white;
	outline: none;
	border: none;
	height: 40px;
	border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
	padding: 0px 15px;
	margin-left: 10px;
	margin-top: 5px;
    transition-duration: 0.2s;
}

.border-btn{
	background: transparent;
	border: solid #D6D6D6 1px;
	padding: 0px 15px;
	height: 40px;
	border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
	margin-left: 10px;
	margin-top: 5px;
	transition-duration: 0.2s;
}

.interest-btn:hover{
	background: var(--secondary);
	color: white;
}

.solid-btn:hover{
	background: var(--secondary);
	color: white;
}

.border-btn:hover{
	background: var(--secondary);
	color: white;
}


.del-btn{
	padding: 5px;
	color: rgb(172, 41, 41);
}
.cross-btn{
	color: var(--primary);
	font-size: 20px;
}


.add-btn{
	color: var(--addcolor);
	background-color: transparent;
	border: none;
	font-size: 20px;
}