.top-btn-header {
    display: flex;
    margin: 0px 140px;
    justify-content: space-between;
    align-items: center;
}

.top-btn-header button {
    background-color: var(--secondary);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 40px;
    border: none;
    color: white;
    box-shadow: rgba(199, 158, 99, 1) 0px 0px 5px;
}

.top-btn-header button:hover {
    box-shadow: rgba(199, 158, 99, 1) 0px 0px 10px;
    transform: scale(1.05);
    transition-duration: 0.2s;
}

.send-all {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.summary-table{
    width: 60%;
    border-collapse: collapse;
    background-color: white;
    margin: 50px 0px;
}
.summary-table tbody tr td{
    text-align: left !important;
    border: solid 1px black;
}

.send-all-btn {
    height: 50px;
    width: 150px;
    margin-right: 50px;
    background-color: var(--secondary);
    border: none;
    border-radius: 10px;
    color: white;
}

.send-all-btn:active {
    transform: scale(0.95);
    transition: linear 0.1s;
}


.main-table-wrapper{
    margin-left: 80px;
    padding: 40px;
}
.table-wrapper{
    margin-top: 50px;
    max-height: 700px;
    overflow-x: auto;
    overflow-y: scroll;
}

/* Start table */
.table-username{
    font-size: 1rem;
    float: left;
    padding: 10px 0px;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    letter-spacing: 1px;
}
.user-table{
    margin-top: 50px;
    width: max-content;
    border-collapse: collapse;
    overflow-x: auto;
    position: sticky;
    top: 0px;
}
.user-table tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.023);
}

.user-table td a {
    color: rgb(33, 82, 216);
    text-decoration: none;
}

.user-table th{
    background-color: #0b2e3f;
    color: rgba(255, 255, 255, 0.893);
    font-weight: normal;
    font-size: 0.8rem;
    height: 40px;

}
.user-table tr:first-child{
    position: sticky;
    top: 0;
}
.user-table tr:nth-child(2){
    position: sticky;
    top: 50px;
}

.user-table tr:first-child th{
    border: solid 0.5px #0b2e3f;
    border-radius: 10px 0px 0px 0px;
}
.user-table tr:nth-child(2) th{
    border: solid 0.5px #0b2e3f ;
}
.user-table tr td{
    border: solid 0.5px rgb(208, 198, 198);
    font-size: 0.7rem;
    white-space: nowrap;
    width: 100px;
    padding: 5px 10px;
}

.user-table td:nth-child(2), .user-table td:nth-child(3){
    width: 150px;
    white-space: normal;
}

.user-table tr:last-child td{
    height: 30px;
}
.user-table tr:last-child td:first-child{
    border-radius:0px 0px 0px 10px ;
}




/* End of main table */

.add-form {
    background-color: rgba(0, 0, 0, 0.651);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 10;
}

#preview-form-title-label {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#preview-form-title-label label {
    font-size: 13px;
}

.add-form .form-box {
    width: 70%;
    height: 60%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-title label {
    font-size: 20px;
    margin: 15px;
    font-weight: bold;
}

.close-invoice {
    margin-right: 25px;
}

.close-invoice a {
    font-size: 2rem;
}

.form-title hr {
    width: 50%;
    border-color: rgba(0, 0, 0, 0.116);
    border-width: thin;
}

.form-box .invoice-form-holder {
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 0px 30px;
    margin-top: 50px;
}

.form-box .invoice-form-holder .form-holder {
    display: block;
}

.form-holder>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.form-holder div label {
    font-size: 12px;
    text-align: start;
    font-family: Poppins;
    font-weight: bold;
}

.form-holder div .insurance-input {
    height: 30px;
    width: 250px;
    margin-left: 5px;
    border: none;
    outline: none;
    background-color: rgba(196, 196, 196, 0.26);
    border-radius: 5px;
    display: inline-block;
}

.form-holder div div {
    position: relative;
}

.form-title>.invoice-btn-holder {
    display: flex;
    margin-bottom: 20px;
}

.invoice-btn-holder button {
    margin: 10px;
    height: 40px;
    width: 18%;
}

.save-invoice {
    background-color: var(--secondary);
    border: none;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 5px;
}

.save-invoice:hover {
    transform: scale(1.01);
    box-shadow: #c79d6380 0px 0px 10px;
    transition-duration: 0.2s;
}

.reset-invoice {
    background-color: white;
    border: solid 1px rgba(255, 38, 38, 1);
    color: rgba(255, 38, 38, 1);
    border-radius: 5px;
}

.reset-invoice:hover {
    color: white;
    background-color: rgba(255, 38, 38, 1);
    transition-duration: 0.2s;
    transform: scale(1.01);
    box-shadow: rgba(255, 38, 38, 0.555) 0px 0px 10px;
}

.send-invoice-btn {
    
    height: 30px;
    width: 30px;
    border: none;
    color: var(--priamry) !important;
}

td {
    color: black;
    text-align: center;
}

td:hover {
    background-color: #c79d6331;
}

.send-invoice-btn:hover {
    transform: scale(1.05);
    transition-duration: 0.2s;
}

.invoice-form-holder {
    height: 80%;
    overflow-y: auto;
}

.pdf-frame {
    width: 600px;
}

.pdf-preview {
    display: block;
}

.pdf-preview img {
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pdf-preview .pdf-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    margin: 40px 0px;
    font-size: 20px;
}

.pdf-preview p {
    text-align: start;
    font-size: 14px;
}

.pdf-preview div {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 5px 0px;
}

.pdf-preview div label:nth-child(1) {
    font-size: 15px;
}

.pdf-preview div label:nth-child(2) {
    margin: 0px 5px;
    font-size: 13px;
}




.pdf-month-table {
    border-collapse: collapse;
    width: 100%;
}

.pdf-month-table th {
    background-color: rgba(255, 255, 255, 0.61);
    height: 40px;
    font-size: 13px;
    border: 1px solid rgb(0, 0, 0);
    border-width: thin;
    font-family: Poppins;
}

.pdf-month-table td {
    background-color: white;
    font-size: 12px;
    height: 35px;
    border: 1px solid rgb(0, 0, 0);
}

.delete-btn {
    color: red;
    background-color: transparent;
    height: 50px;
    width: 50px;
    border: none;
}

.edit-btn {
    color: rgb(0, 119, 255);
    background-color: transparent;
    height: 50px;
    width: 50px;
    border: none;
}

#batch-preview {
    height: 70vh;
    width: 75vw;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-47%, -50%);
    padding: 0px 30px;
    z-index: 10;
}

.mass-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mass-renderer {
    height: 72%;
    display: grid;
    place-content: center;
}

.mass-preview button {
    background-color: var(--primary);
    height: 50px;
    color: white;
    width: 50px;
    border: 0;
    border-radius: 50%;
}

.mass-preview button:active {
    transform: scale(0.95);
    transition: linear 0.08s;
}

.mass-renderer>.invoice-form-holder {
    width: 100%;
    overflow-y: auto;
}

.mass-renderer>.invoice-btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mass-sending-alert {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.338);
    position: fixed;
    top: 0;
    z-index: 10;
}

#send-detail {
    height: 25vh;
    width: 30vw;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-47%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#send-detail>p {
    font-size: 25px;
    font-weight: bold;
    color: var(--secondary);
}

.loader {
    border: 10px solid var(--primary);
    /* Light grey */
    border-top: 10px solid var(--secondary);
    /* Blue */
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.refresh-month-btn{
    margin-left: 120px;
    width: 60px;
    height: 50px;
    border: none;
    background-color: rgb(0, 149, 255);
    color: white;
    border-radius: 10px;
    font-size: large;
    transition: .2s;
}

.add-month-btn{
    margin-left: 20px;
    width: 150px;
    height: 50px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 10px;
    transition: .2s;
}

.add-month-btn:active{
    transform: scale(0.99);
}

.pro-data{
    background-color: rgba(255, 166, 0, 0.154) !important;
}

tfoot tr td{
    position: sticky;
    bottom: 0px;
}

.main-total{
    width:fit-content;
    margin-left: 130px;
    border-collapse: collapse;
}
.main-total td,.main-total th{
    min-width: 130px;
    padding: 5px;
    border: solid 1px black;
}
.main-total td:nth-child(1){
    color: var(--priamry);
    font-weight: bold;
    text-align: left;
}

.payment-received{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.548);
    display: none;
    align-items: center;
    justify-content: center;
}

.payment-received section{
    background-color: white;
    border-radius: 5px;
    width: 350px;
    position: relative;
    padding:50px 20px;
}
.payment-received section > button{
    position: absolute;
    top: 15px;
    right: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: rgb(200, 34, 34);
}
.payment-received section label{
    position: absolute;
    top: 15px;
    left: 20px;
    font-weight: bold;
    font-family: Poppins;
}

.payment-received section div{
   width: 350px;
   overflow: hidden;
}


.payment-received section div div {
    display: flex;
    justify-content: space-between;
}
.payment-received section div div input{
    width: 163px;
    height: 50px;
    display: flex;
}
.payment-received section div input , textarea{
    width: 350px;
    outline: none;
    height: 50px;
    background-color: rgb(226, 226, 226);
    border-radius: 2px;
   padding-left: 5px;
    border: 0;
    margin: 5px 0px;
}
.payment-received textarea{
    height: 100px;
    padding-top:5px;
    font-family: poppins;
}

.submit{
    float: right;
    width: 150px;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(17, 189, 17);
    height: 50px;
    transition: 0.2s;
}
.submit:hover{
    box-shadow: 5px 5px 0px rgba(235, 108, 108, 0.5), 
    inset -150px 0px 1px rgba(255, 238, 5, 0.472);;
}
.confirm{
    color: var(--secondary);
    margin-right: 10px;
}


.isconfirm{
    background-color: rgb(56, 172, 27)!important;
    color: white !important;
}

.hoverconfirm{
    height: 100px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    position: fixed;
    border-radius: 5px;
    border: solid 2px rgba(202, 202, 202, 0.377);
    z-index: 20;
    top: 50%;
    font-size: small;
    left: 50%;
    margin-top: -50px; 
    margin-left: -100px;
}

.confirm-payoff{
    width: 100%;
    height: 40px;
    background-color: rgb(37, 183, 37);
    border: none ;
    color: white;
}
.confirm-payoff:active{
    transform: scale(0.99);
}

.hide{
    display: none !important;
}

.payoff-btn{
    color: rgb(0, 123, 255);
}
.action-holder{
    display: flex;
}

.paidoff-red td{
    color: rgb(163, 43, 43);
}
